@model WebP.Models.Calisan

@{
    ViewData["Title"] = "Çalışan Ekle";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="adsoyad"></label>
        <input asp-for="adsoyad" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="uzmanlıkalanı"></label>
        <input asp-for="uzmanlıkalanı" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="uygunluksaatleri"></label>
        <input asp-for="uygunluksaatleri" class="form-control" type="datetime-local" />
    </div>
    <button type="submit" class="btn btn-primary">Çalışan Ekle</button>
</form>