@model WebP.Models.Calisan

@{
    ViewData["Title"] = "Çalışan Güncelle";
}

<h1 style="color: white;">@ViewData["Title"]</h1>

<form method="post">
    <div class="form-group">
        <label for="adsoyad" style="color: white;">Ad Soyad</label>
        <input type="text" class="form-control" id="adSoyad" name="adSoyad" value="@Model.adsoyad" required />
    </div>
    <div class="form-group">
        <label for="uzmanlikalani" style="color: white;">Uzmanlık Alanı</label>
        <input type="text" class="form-control" id="uzmanlikalanı" name="uzmanlikalanı" value="@Model.uzmanlıkalanı" required />
    </div>
    <div class="form-group">
        <label for="uygunluksaatleri" style="color: white;">Uygunluk Saatleri</label>
        <input type="text" class="form-control" id="uygunluksaatleri" name="uygunluksaatleri" value="@Model.uygunluksaatleri" required />
    </div>
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
