@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <div class="container text-center">
        <h1 class="display-4">Hoşgeldiniz</h1>
        <img src="~/images/I_height.jpg" alt="Image description" class="welcome-img">
    </div>
</body>
</html>
