/* Sayfa genel ayarları */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Resmin tüm sayfayı kaplamasını sağlamak için */
.background-img {
    position: absolute; /* Resmi sayfada sabit tutar */
    top: 0;
    left: 0;
    width: 100%; /* Tam genişlik */
    height: 100%; /* Tam yükseklik */
    object-fit: cover; /* Fotoğrafın tüm alanı kaplamasını sağlar */
    z-index: -1; /* Resmi sayfanın arkasına alır */
}

/* İçeriği fotoğrafın üstünde yerleştirme */
.container {
    position: relative;
    z-index: 2; /* İçeriği ön planda tutar */
    text-align: center;
    padding-top: 150px;
}

h1.display-4 {
    font-size: 4rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

a {
    color: #ffcc00;
}
