@model Web_Programlama.Models.Çalışan

@{
    ViewData["Title"] = "Çalışan Güncelle";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="form-group">
        <label for="adSoyad">Ad Soyad</label>
        <input type="text" class="form-control" id="adSoyad" name="adSoyad" value="@Model.adsoyad" required />
    </div>
    <div class="form-group">
        <label for="uzmanlikAlani">Uzmanlık Alanı</label>
        <input type="text" class="form-control" id="uzmanlikAlani" name="uzmanlikAlani" value="@Model.uzmanlıkalanı" required />
    </div>
    <div class="form-group">
        <label for="uygunlukSaatleri">Uygunluk Saatleri</label>
        <input type="text" class="form-control" id="uygunlukSaatleri" name="uygunlukSaatleri" value="@Model.uygunluksaatleri" required />
    </div>
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>
